.video_content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video_items{
  background: #4a77660e !important;
  flex-wrap: wrap;
  box-shadow:4px 4px 10px ;
	border-radius: 8px !important;
  overflow: hidden;
  padding: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  cursor: pointer;
}

.video_items:hover
{
  scale: 1.01;
  background: linear-gradient(rgba(80, 71, 71, 0.4),rgb(255,255,255,0.6)) !important;
  transition: 0.4s ease;
  
  p{
    transition: 0.4s ease;
    text-shadow: 1px 1px 4px ;
  }
}
.video_content{
  display: flex;
  flex-wrap: wrap;
}
.headingsk{
  width: 295px;
}
.heading >p {
    color: #222;
}
.video_items iframe {
  box-shadow: 2px 2px 8px !important;
  width: 295px;
  height: 170px;
  object-fit: cover;
  margin-top: 8px;
	border-radius: 8px !important;
}


.video_items p {
  margin: 0;
  text-shadow: 1px 1px 4px #222;

  background-color: #4a7766;
  color: #f2fcf6;
  border-radius: 0px 40px 0px 0px;
  font-size: 24px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-family: "poppins", sans-serif;
  font-weight: lighter !important;
}

.video_items span {

  margin: 0px !important;
  color: grey;
  font-size: 16px;
  font-weight: 500;
}
/*--------------video_items------------*/

@media screen and (max-width:532px) {
  .video_items{
    margin-left: 15px;
    margin-right: 0px;
  }
}
@media screen and (max-width:400px) {
  .video_items{
    margin-left: 8px;
    margin-right: 0px;
  }
}
@media screen and (max-width:380px) {
  .video_items{
    margin-left: 0px;
    margin-right: 0px;
  }
}

