.video_items{
  background: #e9e9e9 !important;
  margin: 20px;
  margin-left: 62px;
  box-shadow: 0px 8px 32px ;
	border-radius: 4px !important;
	border-radius: 8px !important;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
}
.video_items:hover{
  scale: 1.02;;
  background: linear-gradient(rgba(80, 71, 71, 0.4),rgb(255,255,255,0.6)) !important;
  transition: 0.4s ease;
  
}
.video_content{
  display: flex;
  flex-wrap: wrap;
}
.heading{
  width: 295px;

}
.heading >p {
    color: #222;
}
.video_items iframe {
  width: 295px;
  height: 170px;
  object-fit: cover;
  margin-top: 8px;
	border-radius: 8px !important;
}


.video_items p {
  margin: 0;
}

.video_items span {
  margin: 0;
  color: grey;
  font-size: 13px;
  font-weight: 500;
}
/*--------------video_items------------*/

@media screen and (max-width:532px) {
  .video_items{
    margin-left: 15px;
    margin-right: 0px;
  }
}
@media screen and (max-width:400px) {
  .video_items{
    margin-left: 8px;
    margin-right: 0px;
  }
}
@media screen and (max-width:380px) {
  .video_items{
    margin-left: 0px;
    margin-right: 0px;
  }
}

