$yellow: #f5bc04;

body {
	background: #00351f16;
}

.blog-heading {
	color: #4a7766;
	text-shadow: 1px 1px 4px #4a7766;
}

.row .pb-4 {
	box-shadow: 2px 2px 8px #2222221c;
	margin: 20px;
	padding: 40px;
	border-radius: 20px;
	background-color: #f2fcf6b4;
	border: 2px solid #fff;
}
.row .pb-4:hover{
	scale: 1.01;
	border: 2px solid #4a7766;
	transition: 0.4s ease !important;
}

//comment
#textcomment {
	background: none !important;
	border: 2px solid #dadada;
}

//navbar
.navbar-light .navbar-toggler {
	border: none !important;
	margin-top: -1px !important;
}

///recent blog
.card-img,
.card-img-bottom,
.card-img-top {
	width: 0%;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow: inset $top $left $blur $color;
		-moz-box-shadow: inset $top $left $blur $color;
		-o-box-shadow: inset $top $left $blur $color;
		box-shadow: inset $top $left $blur $color;
	}

	@else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		-o-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin clip-path($clip) {
	-webkit-clip-path: $clip;
	-moz-clip-path: $clip;
	-ms-clip-path: $clip;
	clip-path: $clip;
}

@mixin transition($transition) {
	-moz-transition: all $transition ease;
	-o-transition: all $transition ease;
	-webkit-transition: all $transition ease;
	-ms-transition: all $transition ease;
	transition: all $transition ease;
}

.paddding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}



// Header


.navbar-light .navbar-nav .open>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
	font-weight: bolder;
	color: #ece7e2;
	background-color: #4a7766;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	margin: 0 20px !important;
	@include transition(0.5s);
	// box-shadow: 2px 2px 4px #222;
	// border:#ece7e2fff  0.01rem solid !important;
	cursor: pointer !important;
	border-radius: 20px;
}

.navbar-light .navbar-nav .nav-link {
	// padding-top: 12px !important;
	// padding-bottom: 15px !important;
	// padding-left: 20px !important;
	// padding-right: 20px !important;
	margin: 0 20px !important;

	@include transition(0.5s);

	// border-radius: 10px;
	&:focus,
	&:hover {
		font-weight: bolder;
		text-shadow: 1px 1px 4px #2222224d;
		margin: 0 20px;
		position: relative;
	}
}

.container-fluid {
	// background: #f2f8fc;
	// width: 90%;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 40px;
	border: 1px solid #eeeeee;
	background: none !important;
	// box-shadow: 4px 4px 8px #b1b1b1;
}

.bg-light {
	background: none !important;
}

.bg-faded {
	padding: 5px !important;
	// margin-top: -7px;
	background: #f2fcf6 !important;
	box-shadow: 2px 2px 4px #f0f7f3;
	// background: linear-gradient(rgba(80, 71, 71, 0.2),rgb(255,255,255,0.5)) !important;
	// border: 1px solid rgb(255,255,255,0.18) !important;
	// box-shadow: 0px 8px 32px rgb(255,255,255,0.37) !important;
}

.most-popular-img .mobile_logo_width {
	display: none;
}

.navbar-nav {
	flex-direction: row !important;
	cursor: pointer;

}

// form
.heading {
	width: -295px !important;
	font-size: 20px;
	color: #424040;
	font-weight: 600;
}

.input-text-box {
	@include border-radius(0 !important);
	font-size: 15px !important;
	background: #e6d5d550 !important;
	border-radius: 20px !important;
	height: 45px !important;
	letter-spacing: 1px !important;
}

.form-control:focus {
	box-shadow: none !important;

	border-color: $yellow !important;
}

.btn-sign-in {
	background: #4a7766 !important;
	@include border-radius(0 !important);
	color: #ece7e2 !important;
	padding: 10px 50px !important;
	border-radius: 5px !important;
}

.btn-sign-up {
	background: #4a7766 !important;
	@include border-radius(0 !important);
	color: #ece7e2 !important;
	padding: 10px 50px !important;
	border-radius: 5px !important;
}

.blog-form input:focus {
	border-color: $yellow !important;
}

.description-box {
	background: #e6d5d550 !important;
	border-radius: 20px !important;
	height: 150px;
	resize: none;
	padding-top: 20px !important;
	letter-spacing: 1px !important;
}

.btn-add {
	border-radius: 20px !important;
	background: #4a7766 !important;
	color: #ece7e2 !important;
	padding: 10px 50px !important;
}

.react-tag-input {
	background: #e6d5d550 !important;
	border-radius: 20px !important;
	border: 1px solid #7a727250 !important;
	height: 45px !important;
}

.react-tag-input:focus {
	border-color: $yellow !important;
}

.catg-dropdown {
	border: #7a727250 0.01rem solid !important;

	background: #e6d5d550 !important;
	border-radius: 20px !important;
	width: 100%;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	height: 45px;
	color: #806a78;
}

.catg-dropdown:focus {
	outline: none !important;
	border-color: $yellow;
}

.trending {
	float: left;
	color: #806a78;
	font-size: 18px;
}

//   Blog Section

.blog-heading {
	font-size: 24px;
	color: #222;
	border-bottom: 1px solid #777;
}

.blogs-img {
	@include border-radius(5px);
	overflow: hidden;
	position: relative;
	top: 0;
	margin-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	@include transition(all 0.5s);
}

.blogs-img>img {
	width: 100%;
	height: 100%;
	min-width: 100%;
}

.title {
	font-size: 17px;
	color: #4a7766 !important;
	font-weight: 800;
	font-family: "Poppins";
	text-decoration: none;
	display: block;
}


.category {
	display: inline-block;
	position: relative;
	background-color: #4a7766;
	padding: 4px 8px;
	color: #ece7e2;
	text-decoration: none;
	font-size: 13px;
	text-transform: none;
	line-height: 16px;
	font-weight: 700;
	border-radius: 4px;
}

.fa-trash {
	color: #4a7766 !important;
}

.fa-edit {
	color: #4a7766 !important;
}

.meta-info {
	font-size: 15px;
	color: #222;
	display: block;
	font-family: "Poppins";
	text-decoration: none;
}

.blog-single-content .meta-info {
	margin-top: 8px;
	border-bottom: 1px solid #4a7766;
	margin-bottom: 15px;
}

.author {
	display: inline-block;
	font-weight: 600;
	font-size: 15px !important;
}

.short-description {
	font-size: 14px;
	color: #777;
}

.btn-read {
	background: #4a7766 !important;
	border-radius: 20px;
	color: #ece7e2 !important;
	padding: 5px 10px !important;
	float: left;
	margin-top: 10px;
	font-size: 14px;
}

// Detail
.blog-title-box .blog-title>span {
	// border-bottom: 1px solid #f2fcf641;
	padding: 10px;
	border-radius: 20px;
	background:#f2fcf641 ;
}

.blog-title-box {
	width: 38.2%;
	z-index: 555;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.single & {
		position: relative;
		height: 180px;
		width: 100%;
	}

	.overlay {
		position: absolute;
		top: 0;
		height: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #4a7766;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 10;

	}

	.blog-title {
		z-index: 12;
		position: absolute;
		bottom: 0;
		padding: 30px;

		.single & {
			width: 100%;
			margin: 0 auto;
			text-align: center;
		}

		h2 {
			color: #f2fcf6;
			font-weight: 300;
			font-size: 20px;
			text-shadow: 2px 2px 8px ;
		}
		>span {
			display: block;
			color: rgba(255, 255, 255, 0.884);
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: .05em;
			margin-bottom: 10px;
		}

	}

}

/* Example of making text size responsive with media queries */

.blog-single-content {
	z-index: 999;
	background: white;

	p,
	ul li {
		font-size: 1.05rem;
	}
}

// Home
.spinner {
	width: 3rem;
	height: 3rem;
}

// Tags
.tags>a {
	text-decoration: none;
}

p.tag {
	background-color: #4a7766;
	padding: 10px 15px;
	border-radius: 20px;
	@include transition(0.5s);
	margin-right: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.tag:hover,
.tag:focus {
	background: #4a7766cb;

	text-decoration: none;
}

// Most popular

.most-popular-img {
	height: 60px;
	width: 60px;

}

.most-popular-font {
	font-weight: bolder !important;
}

.most-popular-font-meta {
	font-size: 12px;
	color: #777;
}

// Trending

.trending-img-position {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #bebebe;
	cursor: pointer;
	// background: #00351f16;

	// box-shadow: 4px 4px 4px #4a776659 !important;
	border-radius: 10px;
	margin-bottom: 8px;
	margin-right: 20px;
}

.trending-img-size {
	height: 120px;
	overflow: hidden;

}

.trending-img-size>img {
	// height: 340px;
	min-width: 100%;

}

.trending-img-relative {
	position: relative
}

.trending-img-absolute {
	display: flex !important;
	color: #4a7766;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	background-size: cover !important;
	z-index: 7;
	background-color: #00000001 !important;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0)100%);
	background-size: 100%, 40% !important;
	background-repeat: no-repeat !important;
	background-position: 65px 20px !important;
}

.trending-img-absolute-1 {
	position: absolute;
	color: #4a7766;
	width: 100%;
	z-index: 9;
	padding: 10px;
	bottom: 0;
}

.text-white {
	color: #636363 !important;
	font-weight: bolder;
	border-bottom: 1px solid #4a7766;
	margin: 4px !important;
}

.trending-meta-info {
	color: #4a7766;
	font-weight: bolder;
	font-size: 13px;
}

.trending-img-position:hover {
	// -webkit-animation: swing1 1s ease;
	transition: 1s ease;
	animation: swing1 1s ease !important;
	// -webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	box-shadow: 4px 4px 8px #4a776649;
	background: #00000002;
}

@-webkit-keyframes swing1 {
	15% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}

	30% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	50% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}

	65% {
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}

	80% {
		-webkit-transform: translateX(2px);
		transform: translateX(2px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes swing1 {
	15% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}

	30% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}

	50% {
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}

	65% {
		-webkit-transform: translateX(-3px);
		transform: translateX(-3px);
	}

	80% {
		-webkit-transform: translateX(2px);
		transform: translateX(2px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

// search
.form-inline {
	display: flex;
	align-items: center;
	width: fit;
}

.form-inline input {
	background: #e6d5d550 !important;
	border-radius: 20px !important;
}

.search-btn {
	float: left;
	background: #4a7766 !important;
	border-radius: 50%;
	margin-left: -29px;
}

// Category
.widget {
	position: relative;
	display: block;
	margin-bottom: 3rem;
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.link-widget li {
	padding: 1.2rem 0.8rem 1.7rem;
	text-transform: capitalize;
	line-height: 1;
	font-weight: 500;
	position: relative;
	margin: 0;
	border-bottom: 1px dashed #dadada;
}

.link-widget li:last-child {
	border-bottom: 0 dashed #dadada;
}

.link-widget li span {
	position: absolute;
	right: 0;
}

// Scroll
.scroll-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	@include transition(.5s);
	cursor: pointer;
	z-index: 1;

	span {
		width: 50px;
		height: 50px;
		display: table;
		color: #ece7e2;
		text-align: center;
		background-color: #4a7766;
		border-radius: 50%;
	}

	i {
		height: 20px;
		display: table-cell;
		vertical-align: middle;

	}
}

//   Card
.related-content {
	border-radius: 20px;
	cursor: pointer;
}

// Comment

.custombox {
	position: relative;
	padding: 3rem 2rem;
	border: 2px dashed #b4b4b4;
	margin-top: 20px;
}

.comments-list p {
	margin-bottom: 1rem
}

.comments-list .media-right,
.comments-list small {
	color: #999 !important;
	font-size: 11px;
	letter-spacing: 2px;
	margin-top: 5px;
	padding-left: 10px;
	text-transform: uppercase;

}

.media {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}


.comments-list .media {
	padding: 1rem;
	margin-bottom: 15px;
}

.media-body {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 0%;
	-ms-flex: 1 1 0%;
	flex: 1 1 0%;
}

.media-body .btn-primary {
	padding: 5px 15px !important;
	font-size: 11px !important;
}

.btn {
	outline: none;
	text-decoration: none;
	border: none;
	border-radius: 20px !important;
	background-color: #4a7766 !important;
}

.comments-list img {
	max-width: 80px;
	margin-right: 30px;
}


.small-title {
	background: #edeff2 none repeat scroll 0 0;
	font-size: 16px;
	font-weight: 700;
	left: 5%;
	line-height: 1;
	margin: 0;
	padding: 0.6rem 1.5rem;
	position: absolute;
	text-align: center;
	top: -18px;
	border-radius: 20px;
	color: #ece7e2 !important;
	background-color: #4a7766 !important;
	border-color: #4a7766 !important;
}

.user_name {
	font-size: 16px;
	font-weight: bolder;
}

// Pagination
.btn_mange_pagging {
	background: #dadada;
	padding: 12px 20px;
	border: none;
	color: #222 !important;
	font-weight: 800;
	margin: 0 10px;
	border-radius: 20px;
	@include transition(0.5s);
}

.btn_mange_pagging:hover,
.btn_mange_pagging:focus {
	background: #4a7766;
	color: #ece7e2 !important;
	font-weight: 800;
}

.btn_pagging {
	background: #dadada !important;
	color: #222;
	padding: 12px 20px !important;
	font-weight: 800;
	margin: 0 10px;
	@include transition(0.5s);
	border-radius: 20px;
}

.btn_pagging:hover,
.btn_pagging:focus {
	background: #4a7766 !important;
	color: #ece7e2;
}

.scroll {
	width: auto;
	height: 230px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
}

// trending-img-absolute
// class="overlay"

//
/* Total Scrollbar */
::-webkit-scrollbar {
	width: 12px;
	/* For vertical scrollbars */
	height: 12px;
	/* For horizontal scrollbars */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
	background-color: #888;
	/* Color of the scrollbar */
	border-radius: 10px;
	/* Roundness of the scrollbar */
	border: 3px solid #f1f1f1;
	/* Space around the scrollbar */
}

/* Scrollbar on Hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}